@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.font-roboto-mono {
  font-family: 'Roboto Mono', monospace;
}

.special-gothic-expanded-one-regular {
  font-family: 'Special Elite', cursive;
}

body {
  margin: 0;
  padding: 0;
}